body{
    height: 100vh;
    border: none;
}

#banner{
    background-color: #1abc9c;
}

.navbar{
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 25px;
    letter-spacing: 1px;
    background-color: #474447;
}


.content{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: skyblue;
    border-radius: 10px;
    margin: 20px;
}

.p{
    font-size: 20px;
}