
@{
    ViewBag.Title = "Create";
}

<h2>Create a New Color</h2>

<p>Please enter colors in HTML hexadecimal format: #AABBCC</p>

<form>
    <p><strong>First Color</strong></p>
    <input type="text" name="firstColor" placeholder="#178C2A" />
    <p><strong>Second Color</strong></p>
    <input type="text" name="secondColor" placeholder="#B4641D" /> <br /><br />
    <input type="button" value="Mix Colors" /> <br /><br />

    <div class="row">
        <div class="col-sm-1">
            <div class="square"></div>
        </div>
        <div class="col-sm-1" align="center">
            <p style="text-align: center">+</p>
        </div>
        <div class="col-sm-1">
            <div class="square"></div>
        </div>
        <div class="col-sm-1" align="center">
            <p style="text-align: center">=</p>
        </div>
        <div class="col-sm-1">
            <div class="square">
        </div>
    </div>
</form>






