
@{
    ViewBag.Title = "Index";
}

<h2>Create a New Color</h2>

<p>Please choose two colors</p>

<form action="/Color/Create" method="post">
    <p><strong>First Color</strong></p>
    @Html.TextBox("firstColor", null, htmlAttributes: new { @class="form-control", type="Color", placeholder="#178C2A"})
    <p><strong>Second Color</strong></p>
    @Html.TextBox("secondColor", null, htmlAttributes: new { @class="form-control", type="Color", placeholder="B4641D"})
    <br /><br />
    <div class="button">
        <button type="submit">Mix Colors</button>
    </div>
</form>

    