
@{
    ViewBag.Title = "Index";
}

<h2>Create a New Color</h2>

<p>Please choose two colors</p>

<!-- Creates the form that the user is to choose the colors from -->
<form action="/Color/Create" method="post">
    <!--Labels and HTML helper methods, sets the name to first color, does not give it a default value, and adds html attributes setting the text box to
        be a popup box to choose colors from rather than a regular text box. Also gives it a placeholder value-->
    <p><strong>First Color</strong></p>
    @Html.TextBox("firstColor", null, htmlAttributes: new { @class = "form-control", type = "Color", placeholder = "#178C2A" })
    <p><strong>Second Color</strong></p>
    @Html.TextBox("secondColor", null, htmlAttributes: new { @class = "form-control", type = "Color", placeholder = "B4641D" })
    <br /><br />
    <div class="button">
        <button type="submit">Mix Colors</button>
    </div>
</form>

    