
@{
    ViewBag.Title = "Converter";
}

<h2>Convert Miles to Metric</h2>

<!--The View of the Mile Converter page. Creates a form that takes in the number of miles from a user in an input box and the conversion 
    type in a radio button group, then if the ViewBag.measurement variable is not null, meaning that they have hit the submit button, it 
    returns a string with the conversion.-->
<form action="/Home/Converter" method="get">
    <div class="container-fluid">
        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <h4><strong>Miles</strong></h4>
                    <!--An input field to take in the number of miles. Validates that there was input, that it was above zero, and that it 
                        was a number entered.-->
                    <input id="miles" type="number" name="miles" min="0" step="any" required/>
                </div>
                <div class="col-md-4">
                    <h3>Select a unit</h3>
                    <!--A radio button group for the type of units, the default value checked is millimeters.-->
                    <div class="radio">
                        <label><input type="radio" name="units" value="millimeters" checked/>millimeters</label> <br />
                        <label><input type="radio" name="units" value="centimeters"/>centimeters</label> <br />
                        <label><input type="radio" name="units" value="meters"/>meters</label> <br />
                        <label><input type="radio" name="units" value="kilometers"/>kilometers</label> <br />
                    </div>
                    <input type="submit" value="Convert"/>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!--If the ViewBag.measurement variable is not null, meaning that the user has entered input and hit submit, then convert
                        the miles into the designated units and return a string with the result.-->
                    <div>
                        @if (ViewBag.measurement != null)
                        {
                            <p><h3 id="milesConverted"><strong>@ViewBag.result</strong></h3></p>
                        }
                    </div>
                </div>
            </div>
        </div>        
    </div> 
</form>

