
@{
    ViewBag.Title = "MileConverter";
}

<h2>Convert Miles to Metric</h2>

<form action="/Home/MileConverter" method="get">
    <div class="container-fluid">
        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <h4><strong>Miles</strong></h4>
                    <input id="miles" type="number" name="miles", min="0" , step="any" required/>
                </div>
                <div class="col-md-4">
                    <h3>Select a unit</h3>
                    <div class="radio">
                        <label><input id="1" type="radio" name="units" value="millimeters" checked/>millimeters</label> <br />
                        <label><input id="2" type="radio" name="units" value="centimeters"/>centimeters</label> <br />
                        <label><input id="3" type="radio" name="units" value="meters"/>meters</label> <br />
                        <label><input id="4" type="radio" name="units" value="kilometers"/>kilometers</label> <br />
                    </div>
                    <input type="submit" value="Convert"/>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        @if (ViewBag.measurement != null)
                        {
                            <p><h3 id="milesConverted"><strong>@ViewBag.result</strong></h3></p>
                        }
                    </div>
                </div>
            </div>
        </div>        
    </div>
    
    
</form>

