@model HWK6.Models.Person

@{
    ViewBag.Title = "World Wide Importers";
}

<br />
<br />
<br />
<div class="container-fluid">
    <div class="tab-content">
        <div class="row">
            <div class="col" id="banner">
                <h2>Client Search</h2>
                <br />
                @Html.EditorFor(model => model.SearchName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SearchName, "Please enter a name", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>