@model HWK6.Models.Person

@{
    ViewBag.Title = "World Wide Importers";
}

<br />
<br />
<br />
<div class="container-fluid">
    <div class="tab-content">
        <div class="row">
            <div class="col" id="banner">
                <h2>Client Search</h2>
                <br />
               
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @using (Html.BeginForm("Task1", "Home", FormMethod.Get))
                        {
                            <input type="text"/>
                            <input type="submit" value="Submit" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>