
@{
    ViewBag.Title = "Index";
}

<div class="row" style="text-align:center">
    <div class="col" style="display:inline-block">
        <h3>Internet Language Translator</h3>
        <br />
        <input class="form-control" id="Input" type="text" placeholder="Start typing your message here ..." />
    </div>
    <br />
    <br />
    <div class="row">
        <div class="inputArea" id="gifString">
            <p></p>
        </div>
    </div>
    
</div>

@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/JavaScript.js"></script>    
}