@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS 460 - Homework 5</h1>
    <p class="lead">Database-backed web based application using ASP.NET MVC 5 that creates and uses a local database for persistent storage. Shows I can write T-SQL to create and populate a simple database.</p>
    <p><a href="http://www.wou.edu/~morses/classes/cs46x/assignments/HW5_1819.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            A form that submits a maintenance requaest to the database.
        </p>
        <p><button class="btn btn-default">@Html.ActionLink("Request Form", "RequestForm", "Home")</button></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>
            Lets you view a table of the current requests in the database.
        </p>
        <p><button class="btn btn-default">@Html.ActionLink("View Requests", "ViewRequests", "Home")</button></p>
    </div>
</div>